/* Global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* App styles */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d2d2d;
  /* Lighter shade of black */
  color: #fff;
}

.chat-window {
  width: 90vw;
  height: 90vh;
  max-width: 100%;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.login-form{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}


.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #4a4a4a;
  align-self: flex-end;
}

.message.bot {
  background-color: #333;
  align-self: flex-start;
}

/* Scrollbar styling */
.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-track {
  /* background: #2d2d2d; */
}

.messages::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

.input-area {
  display: flex;
  padding: 10px;
  height: 40px;
  background-color: #1e1e1e;
  border-top: 1px solid #444;
}

.input-area input,.login-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.input-area input:focus,.login-form input:focus {
  background-color: #444;
  border: 2px solid #555;
  outline: none;
}

.input-area button,.login-form button {
  padding: 10px 20px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-area button:hover, .login-form button:hover {
  background-color: #5a5a5a;
}